annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.1
attrs==25.4.0
beautifulsoup4==4.13.4
behave==1.2.6
certifi==2026.1.4
chardet==5.2.0
charset-normalizer==3.4.4
click==8.3.1
colorama==0.4.6
cssselect==1.3.0
exceptiongroup==1.3.1
execnet==2.1.1
fastapi==0.128.1
fasteners==0.20
filelock==3.20.3
h11==0.16.0
html5lib==1.1
idna==3.10
iniconfig==2.1.0
Jinja2==3.1.6
lxml==6.0.2
markdown-it-py==3.0.0
MarkupSafe==3.0.3
mdurl==0.1.2
mycdp==1.3.2
numpy==2.4.2
orjson==3.11.7
outcome==1.3.0.post0
packaging==26.0
pandas==2.3.3
parameterized==0.9.0
parse==1.20.2
parse_type==0.6.6
pdbp==1.8.2
platformdirs==4.5.1
pluggy==1.6.0
psycopg2-binary==2.9.11
pybind11==3.0.1
pydantic==2.12.5
pydantic_core==2.41.5
Pygments==2.19.2
pynose==1.5.5
pyotp==2.9.0
PySocks==1.7.1
pytest==8.3.5
pytest-html==4.0.2
pytest-metadata==3.1.1
pytest-ordering==0.6
pytest-rerunfailures==15.1
pytest-xdist==3.6.1
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
pytz==2025.2
PyYAML==6.0.3
quant_engine @ file:///Users/samueleavanzato/Desktop/football-quant-engine/backend
requests==2.32.3
rich==14.3.2
sbvirtualdisplay==1.4.0
selenium==4.32.0
seleniumbase==4.38.3
setuptools==80.10.2
six==1.17.0
sniffio==1.3.1
soccerdata==1.8.8
sortedcontainers==2.4.0
soupsieve==2.7
SQLAlchemy==2.0.46
starlette==0.50.0
tabcompleter==1.4.0
tqdm==4.67.3
trio==0.30.0
trio-websocket==0.12.2
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.3
Unidecode==1.4.0
urllib3==1.26.20
uvicorn==0.40.0
webencodings==0.5.1
websocket-client==1.8.0
websockets==16.0
wheel==0.46.3
wrapper-tls-requests==1.2.4
wsproto==1.2.0
